# Configuration file for KnockKnock.

# When filling this file out, uncomment the configuration directives by removing
# the semicolon from the beginning of the line, and then filling out an
# appropriate value after the equals.

# Configure settings for talking to an LDAP server.
[LDAP]
# The URL for the LDAP server.
# Example:
#    ldaps://someserver.se.rit.edu:636/
# or
#    ldaps://someserver.cs.rit.edu:636/
#
# No default, value required.
;url=

# The username of a user in LDAP with permission to reset passwords.
# Example:
#   orangeyougladididntsaybanana
#
# No default, value required.
;username=

# The password for the user in LDAP whose username is above and who has
# permission to reset passwords.
# Example:
#    a_long_complex_string_with_mispeld_wrods_is_a_decent_pa$$w0rd
#
# No default, value required.
;password=

# The LDAP search base, or where in the directory tree to look for users whose
# passwords are eligible to be reset.
# Example:
#    ou=accounts,dc=se,dc=rit,dc=edu
# or
#    ou=accounts,dc=cs,dc=rit,dc=edu (TODO: make sure this is what CS uses)
#
# No default, value required.
;base=

# The LDAP search filter, or how to find users in LDAP when resetting their
# password.  This can also be used to ensure that, if for some reason your user
# IDs overlap with machine names, or some other kind of object in the directory
# that can't take a password reset, this tool won't find those non-user objects.
# 
# Python's str.format() method will be called on this configuration item on each
# evaluation.  The following keys are provided to .format():
#  * uid: The user's provided username.
#
# Example:
#    cn={uid}
#
# No default, value required.
;filter=


# Configure settings for strings used in the web pages.
[Site]
# The abbreviated version of the name of the department for which this tool will
# reset passwords.
# Example:
#    SE
# or
#    CS
#
# No default, value required.
;short_department_name=

# The full version of the name of the department for which this tool will reset
# passwords.
# Example:
#    Software Engineering
# or
#    Computer Science
#
# No default, value required.
;long_department_name=

# The abbreviated version of the name of the organization for which this tool
# will reset passwords.
# Example:
#    RIT
#
# No default, value required.
;short_organization_name=

# The full version of the name of the organization for which this tool will
# reset passwords.
# Example:
#    Rochester Institute of Technology
#
# No default, value required.
;long_organization_name=
