<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Password Reset</title>
</head>
<body>
<a href="/login-sso">Log In with RIT</a><br>
<a href="/login-dept">Log In with Department</a>
</body>
</html>
