<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Password Reset Error</title>
</head>
<body>
<p style="color: darkred;">KnockKnock encountered an error. {{ message }}</p>
</body>
</html>
