<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Password Reset</title>
</head>
<body>
    {% if errors %}
    {% if errors|length == 1 %}
    <div style="color: red;">
        Error: {{ errors[0] }}
    </div>
    {% else %}
    <div style="color: red;">
        Errors:
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endif %}
    <form action="/reset" method="POST">
        <label for="password">Password:</label>
        <input id="password" name="password" type="password" required
        minlength="10">
        <br>
        <label for="confirmPassword">Confirm Password:</label>
        <input id="confirmPassword" name="confirmPassword" type="password" required minlength="10">

        <br>
        <input type="submit" name="submit">
    </form>
</body>
</html>
