<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Password Reset Success</title>
<style>
.tooltip {
    text-decoration-line: underline;
    text-decoration-style: dotted;
}
</style>
</head>
<body>
Success! Your password has been reset. Please quit your browser (or close all of
the windows) and then reopen it.<sup class="tooltip" title="Completely quitting your browser
makes it forget login details and cookies that only exist for the duration of
your session.  KnockKnock uses one of those, and other department systems do
too.  Forgetting these pieces of info immediately makes it harder to steal your
password, and also makes sure that you have to type it into a bunch of things
right away, which helps you remember it.">[why?]</sup>
</body>
</html>
